<!DOCTYPE html>
<html>
  <head>
    <title>My Fucking Addressbook</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <% include ./partials/_navbar %>
    <div class="jumbotron">
      <h1><u>Welcome to "My Fucking Addressbook"</u></h1>
    </div>
    <div class="container">
      <div class="jumbotron">
        <ul>
          <% locals.users.forEach(function(user) { %>
            <li><%= user.first_name %> <%= user.last_name %></li>
            <li>Email: <%= user.email %></li>
            <li>Phone Number: <%= user.phone_number %></li>
            <% }) %>
        </ul>
        </p>
      </div>
    </div>
  </body>
</html>
