fieldset {
  margin-top: 5%;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.new-contact-form {
    padding: 20px;
    margin-top: 25px;
    background-color: mediumaquamarine;
    border-radius: 25px;
}
